[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icon Font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowbottom:before {
  content: "\e900";
  color: #ccc;
}
.icon-arrowleft:before {
  content: "\e901";
  color: #ccc;
}
.icon-arrowright:before {
  content: "\e902";
  color: #ccc;
}
.icon-arrowright-1:before {
  content: "\e903";
  color: #ccc;
}
.icon-arrowright-2:before {
  content: "\e904";
  color: #ccc;
}
.icon-check:before {
  content: "\e905";
  color: #ccc;
}
.icon-cloud:before {
  content: "\e906";
  color: #ccc;
}
.icon-discord:before {
  content: "\e907";
  color: #ccc;
}
.icon-drive:before {
  content: "\e908";
  color: #ccc;
}
.icon-facebook:before {
  content: "\e909";
  color: #ccc;
}
.icon-froze:before {
  content: "\e90a";
  color: #ccc;
}
.icon-insta:before {
  content: "\e90b";
  color: #ccc;
}
.icon-leaf:before {
  content: "\e90c";
  color: #ccc;
}
.icon-light:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
  color: #ccc;
}
.icon-pen:before {
  content: "\e90f";
  color: #ccc;
}
.icon-play:before {
  content: "\e910";
  color: #ccc;
}
.icon-qrrowright:before {
  content: "\e911";
  color: #ccc;
}
.icon-settings:before {
  content: "\e912";
  color: #ccc;
}
.icon-stars:before {
  content: "\e913";
  color: #ccc;
}
.icon-SVG:before {
  content: "\e914";
  color: #ccc;
}
.icon-valt:before {
  content: "\e915";
}
.icon-x:before {
  content: "\e916";
  color: #ccc;
}
.icon-youtube:before {
  content: "\e917";
  color: #ccc;
}
